{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Add New Exercise</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label">Exercise Name</label>
                        {{ form.title }} 
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Upload Image</label>
                        {{ form.image }}
                    </div>

                    <button type="submit" class="btn btn-success w-100">Save and Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}